git+https://github.com/boettiger-lab/cng-python
altair==5.3.0
duckdb==1.2.2
duckdb_engine==0.15.0
geoarrow-pandas==0.1.1
geoarrow-types==0.2.0
git+https://github.com/boettiger-lab/cng-python
ibis-framework[duckdb]==10.3.1
langchain==0.2.17
langchain-community==0.2.19
langchain-core==0.2.43
langchain-openai==0.1.25
leafmap==0.53.3
lonboard==0.10.4
minio==7.2.15
shapely==2.0.4
shiny==0.10.2
SQLAlchemy==2.0.35
streamlit==1.50.0