altair
duckdb
duckdb-engine
folium-pmtiles
geopandas
ibis-framework[duckdb]
langchain
langchain-community
langchain-openai
langchainhub
langchain-chroma
leafmap
lonboard
minio
pmtiles
pydeck
SQLAlchemy==1.4.52
streamlit
streamlit-folium
shapely
